{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="card mt-3">
        <h5 class="card-header">Edit Article</h5>
        <div class="card-body">
            <div class="row">
            {% for illustration in article.illustrations %}
                <div class="col-3">
                    <img src="{{ asset('uploads/blogs/'~illustration.fichier) }}" class="img-fluid"/>
                    <button class="btn btn-danger">Supprimer</button>
                </div>
            {% endfor %}
            </div>
            {{ include('article/article/_form.html.twig', {'button_label': 'Update'}) }}


        </div>
        <div class="card-footer">
            <a href="{{ path('app_article_article_index') }}" class="btn btn-primary">Retour</a>

            {{ include('article/article/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
