{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Contenu</th>
                <th>CreatedAt</th>
                <th>ModificationAt</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.contenu|slice(0, 120) }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.modificationAt ? article.modificationAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.etat }}</td>
                <td>
                    <a href="{{ path('app_article_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_article_new') }}">Create new</a>
{% endblock %}
