{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModificationAt</th>
                <td>{{ article.modificationAt ? article.modificationAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ article.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_article_index') }}">back to list</a>

    <a href="{{ path('app_article_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/article/_delete_form.html.twig') }}
{% endblock %}
