<form method="post" action="{{ path('app_article_article_categorie_delete', {'id': article_categorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article_categorie.id) }}">
    <button class="btn">Delete</button>
</form>
