{% extends 'base.html.twig' %}

{% block title %}Edit ArticleCategorie{% endblock %}

{% block body %}
    <h1>Edit ArticleCategorie</h1>

    {{ include('article/article_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_article_categorie_index') }}">back to list</a>

    {{ include('article/article_categorie/_delete_form.html.twig') }}
{% endblock %}
