{% extends 'base.html.twig' %}

{% block title %}New ArticleCategorie{% endblock %}

{% block body %}
    <h1>Create new ArticleCategorie</h1>

    {{ include('article/article_categorie/_form.html.twig') }}

    <a href="{{ path('app_article_article_categorie_index') }}">back to list</a>
{% endblock %}
