{% extends 'base.html.twig' %}

{% block title %}ArticleCategorie{% endblock %}

{% block body %}
    <h1>ArticleCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article_categorie.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ article_categorie.libelle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article_categorie.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_article_categorie_index') }}">back to list</a>

    <a href="{{ path('app_article_article_categorie_edit', {'id': article_categorie.id}) }}">edit</a>

    {{ include('article/article_categorie/_delete_form.html.twig') }}
{% endblock %}
